*{
    font-family:Verdana,Helvetica;
    text-align: center;
	font-size:15px;
}

input{
	font-size:16px;
	padding: 10px;
	margin : 10px;
}

h2{
	font-variant: small-caps;
	font-weight: bold;
}

.info {
	width: 90%;
	height: 80%;
	background-color: #eee;
    border: 8px solid #006600;
    border-radius: 30px;
	padding:10px;
	display: block;
	vertical-align: middle;
	margin: 10px;
}

.invio {
	width: 90%;
	background-color: #eee;
    border: 8px solid #428bca;
    border-radius: 30px;
	padding:10px;
	display: block;
	vertical-align: middle;
	margin: 10px;
}
.crittato {
	font-weight: bold;
	font-size: 20px;
	height: 150px;
	width: 90%;
	background-color: #eee;
    border: 8px solid #f0ad4e;
    border-radius: 30px;
	padding:10px;
	display: block;
	vertical-align: middle;
	margin: 10px;
	font-variant: small-caps;
}
.ricezione {
	font-size: 25px;	width: 90%;
	background-color: #eee;
    border: 8px solid #5cb85c;
    border-radius: 30px;
	padding:10px;
	display: block;
	vertical-align: middle;
	margin: 10px;
	font-variant: small-caps;
	font-weight: bold;

}

.albero {
	background-color: #eee;
    border: 4px solid #5cb85c;
    border-radius: 15px;
	padding: 15px;
	display: inline-block;
	vertical-align: middle;
	margin : 30px;
	font-size: 20px;

}
.attrib , .messaggio{
	margin: 10px;
	padding : 10px;
	font-variant: small-caps;
	font-weight: bold;
	font-size: 20px;
}

.crit{

	font-weight: bold;
	font-size: 25px;
	color: #428bca;
}
.logic{

	font-weight: bold;
	font-size: 25px;
	color: #C92020;
}

